@import '~antd/dist/antd.css';
.sider > .ant-layout-sider-children {
  padding: 10px;
  overflow-y: auto;
}

.ant-layout-footer {
  margin: 0px;
  position: fixed;
  bottom: 0;
  width: 400px;
}

.content {
  padding: 10px;
}
